<!DOCTYPE html>
<html>
	<head>
		<title>FABLE Sign-Ups</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<!-- JQuery From CDN -->
		<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
		<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
		<!-- 99Lime Kickstart from CDN -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/99lime/0.94/css/kickstart.css">
		<script src="//cdn.jsdelivr.net/99lime/0.94/js/kickstart.js"></script>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="grid flex">
			<div class="col_12 center">
				<h1><i class='icon-beer'></i> FABLE Sign-Up</h1>
			</div>
			<div class="col_12 center">
				<nav>
					<!-- Menu Horizontal -->
					<ul class="menu">
						<li class="first">
							<%= link_to 'FABLE List', fables_path %>
						</li>
						<li>
							<%= link_to 'Upcoming Presenters', sign_ups_path %>
						</li>
						<li>
							<%= link_to 'Topics', topics_path %>
						</li>
						<li class="last">
							<%= unless(user_signed_in?) then link_to 'Sign In', new_user_session_path end %>
							<%= if user_signed_in? then link_to 'Sign Out', destroy_user_session_path end %>
						</li>
					</ul>
				</nav>
			</div>
			<%= yield %>
		</div>
	</body>
</html>
